*{
    margin: 0%;
    height: auto;
    box-sizing: border-box;
}

#Fondo1{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#fondo2{
    background-color: #dcdcdc;
    height: 100%;
    flex-direction: column;
}
/*Estilo para el header*/
.navbar{
    background-color:rgb(255, 255, 255);
    width: 100%;
    height: 90px;
    z-index: 1;
    position: relative;
    display: inline-flex;
    padding-left: 30px;
    align-items: center;
}

.navbar span{
  padding-left: 60px;
}
.navbar a{
  padding-left: 60px;
}

#logop{
  margin-left: 41%;
  margin-right: 10%;
}

#logo{
  margin-left: 16%;
  margin-right: 10%;
}


#carrito{
    text-decoration: none;
    font-size: 24px;
    color: black;
}
#carrito:hover{
    color: #a4a4a4;
}

.buscador {
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-right: 8px;
  margin-left: 120px;
 
}

.btn {
  background-color:rgb(196, 150, 150);
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  position: sticky;
}

.btn i {
  color: white;
}


/*Estilo para la barra lateral de menu*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 22px;
    color: #000000;
    display: block;
    transition: 0.3s;
    font-family:"Jost", sans-serif  ;
    margin-left: 25px;
  }
  .sidebar a:hover {
    color: #a4a4a4;
  }
  .sidebar .close-btn {
    position: absolute;
   top: 12px;
    right: 25px;
    font-size: 26px;
    margin-left: 50px;
  }
  
  .open-btn:hover{
    color: #a4a4a4;
    cursor: pointer;
  }
  .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
  }
  /*Estilo para la barra lateral del user*/
  .pantalla {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
  }
  .userbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0; 
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    font-family: "Jost", sans-serif  ;
  } 
  .userbar a {
    text-decoration: none;
    font-size: 22px;
    color:#000000;
    display: block;
    transition: 0.3s;
    margin-left: 35px;
    margin-top: 300px;
    cursor: pointer;
  }
  .userbar a:hover {
    color: #a4a4a4;
  }
  .userbar .cierre-user {
    position: absolute;
    margin-top: 20px;
    left: 0px; 
    font-size: 32px;
    margin-left: 35px;
  }
  .abrir-user{
    cursor: pointer;
  }
  .abrir-user:hover{
    color: #a4a4a4;
  }

  
/*Estilo para la barra lateral de contacto*/
.pantalla2 {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    display: none;
  }
  .contactobar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0; 
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    margin-left: 25px;
    font-family: "Jost", sans-serif  ;
  }

  .contactobar a {
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
    margin-left: 25px;
  }
  .contactobar a:hover {
    color:#a4a4a4;
    z-index: 1;
  }
  .contactobar .close-contacto {
    position: absolute;
    top: 0;
    left: 25px; 
    font-size: 32px;
    margin-top: 30px;
  }
  
  .open-contacto:hover {
    color: #7e7e7e;
    z-index: 1;
    cursor: pointer;
  }
  .infocontacto{
    font-family: "Jost", sans-serif ;
    margin-left: 50px;
    margin-top: 100px;
  }
  #info{
    font-family: "Jost", sans-serif ;
  }
  /*Estilo para las imagenes y texto de la pagina principal*/
  #cara{
    width: 760px;
    z-index: 1;
  }
  #cuadro{
    width: 713px;
    margin-top: -740px;
    margin-left: 760px;
    size: 700px;
    height: 680px;
  }
  .salto{
    width: 100%;
    height: 70px;
    background: #dcdcdc;
    margin-top: -22px;
    align-self: baseline;
    position: absolute;
  }
  #oferta1{
    width: 400px;
    height: 530px;
    margin-left: 100px;
    font-family:"Jost", sans-serif ;
    font-size: 20px;
  }
  #escultura{
    width: 360px;
    height: 450px;
    padding-bottom: 3px;
  
  }
  #oferta2{
    width: 400px;
    height: 530px;
    margin-left: 564px;
    font-family:"Jost", sans-serif ;
    font-size: 20px;
    margin-top: -480px;
  }
  #pintura{
    width:340px;
    height: 400px;
    padding-bottom: 3px;
  }
  #oferta3{
    width: 400px;
    height: 530px;
    margin-left: 1010px;
    font-family:"Jost", sans-serif ;
    font-size: 20px;
    margin-top: -530px;
  }
  #fotografia{
    width:360px;
    height: 400px;
    padding-bottom: 3px;
  }
  button{
    position: relative; 
    text-decoration: none;
    color: #000; 
    font-family:"Jost", sans-serif ;
    border-style: none;
}
button::after {
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: -3px; 
    width: 0; 
    height: 2px; 
    background-color: #000; 
    transition: width 0.3s; 
}
button:hover::after {
    width: 100%; 
}
#ceramica{
  width: 100%;
  height: 770px;
}
#promoceramica{
  position: absolute;
  font-family: "Jost", sans-serif ;
  margin-left: 48.5%;
  margin-top: -135px;
  text-align: center;
  font-size: 22px;
}
#footer{
  width: 100%;
  height: auto;
  font-family: "Jost", sans-serif ;
  font-size: 13px;
  margin-bottom: 0;
  bottom: 0;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}
/*Lista que muestra todos los productos de laa 4 paginas por categoria, solo que ya no quise cambiarle el nombre*/
.listaEsculturas{
  background-color:#ffffff;
  width: 1330px;
  height: 1422px;
  position: absolute;
  margin-top: 40px;
  margin-left: 80px;
  padding-top: 25px;
}
/*Apartado que contiene la lista de los productos en el carrito de compra*/
#cart{
  position: absolute;
  margin-top: 20px;
  width: 86%;
  height: auto;
  z-index: 1;
  background-color: #ffffff;
  margin-left: 100px;
  padding-bottom: 30px;
}

#cartList{
  font-family: "Jost", sans-serif ;
  margin-left: 20px;
}
/*Estilo de los productos de las 4 paginas, les puse el mismo id para que quedaran casi con el mismo estilo*/
#producto1{
  width: 240px;
  margin-top: 0;
  margin-left: 44%;
  position: absolute;
}
#productList{
  display: inline-block;
  padding-left: 10px;
  font-family: "Jost", sans-serif ;
  margin-left: 69%;
}
#descripcion1{
  font-family: "Jost", sans-serif ;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 260px;
  height: 250px;
  margin-left: 18%;
  margin-top: 5%;
  text-align: justify;
}
#descripcion2{
  font-family: "Jost", sans-serif ;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 260px;
  height: 250px;
  margin-left: 18%;
  margin-top: 410px;
  text-align: justify;
}
#producto2{
  width: 240px;
  margin-top: 410px;
  margin-left: 44%;
  position: absolute;
}
#descripcion3{
  font-family: "Jost", sans-serif ;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 260px;
  height: 250px;
  margin-left: 18%;
  margin-top: 755px;
  text-align: justify;
}
#producto3{
  width: 210px;
  height: 280px;
  margin-top: 735px;
  margin-left: 46%;
  position: absolute;
}
#descripcion4{
  font-family: "Jost", sans-serif ;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 260px;
  height: 250px;
  margin-left: 18%;
  margin-top: 1083px;
  text-align: justify;
}
#producto4{
  width: 210px;
  height: 280px;
  margin-top: 1063px;
  margin-left: 46%;
  position: absolute;
}

#Productos:hover{
  color: #a4a4a4;
}

#Productos{
  text-decoration: none;
}

#botones{
  width: 86.8%;
  height: auto;
  background-color: #ffffff;
  margin-left: 100px;
  padding-bottom: 30px;
  text-align: center;
  padding-top: 30px;
  position: relative;
  margin-top: 20px;
}

#contenedorProductos{
  text-align: left;
  width: 80%;
  height: auto;
  background-color: #ffffff;
  padding-bottom: 30px;
  padding-top: 80px;
  padding-left: 100px;

}

#productForm{
 display:inline-flex;
 width: 87%;
 margin-left: 100px;
 height: auto;
}

#formP{
  width: 20%;
  background-color: #ffffff;
  text-align:left;
  padding-right: 60px;
  margin-right: 3px;
  padding-bottom: 20px;
}

  